<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/hash.ico">

    <title>Hash Machine</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/custom/main.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Hash Machine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#section2">Hash!<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#section3">Last Hashes<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Hashes</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" onclick="showMD5()">MD5</a>
                    <a class="dropdown-item" onclick="showSHA1()">SHA1</a>
                    <a class="dropdown-item" href="#"></a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div id="section1" class="container">
    <main>
        <h1>Hash Machine</h1>
        <p class="lead">Smart playground with cryptographic hash functions.</p>
        <a href="#section2" class="btn btn-lg btn-dark">Start Hashing</a>
    </main>
</div>
<div id="section2" class="container">
    <main>
        <div class="form-group">
            <h1>Message for hashing</h1>
            <input type="text" class="form-control" id="message" aria-describedby="messageHelp"
                   placeholder="Enter message" required>
            <small id="messageHelp" class="form-text text-muted">You may enter anything.
            </small>
        </div>
        <br>
        <div>
            <h4>Hash Function:</h4>
            <div class="form-group select">
                <select class="form-control select-form" id="hashFunction" required>
                </select>
            </div>
            <h4>Extensions:</h4>
            <div class="form-group select">
                <select class="form-control select-form" id="extension#1">
                </select>
                <button class="btn btn-sm btn-info" onclick="addExtension(this.parentNode)">Add Extension</button>
                <button class="btn btn-sm btn-info removeBtn" onclick="removeExtension(this.parentNode)" disabled>
                    Remove Extension
                </button>
            </div>
        </div>
        <br>
        <div>
            <h4>Attacks to Test Hash Function</h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="rainbow">
                <label class="form-check-label" for="rainbow">Rainbow table attack</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="dictionary" disabled>
                <label class="form-check-label" for="dictionary">Dictionary attack</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="tunnel">
                <label class="form-check-label" for="tunnel">Tunneling</label>
            </div>
        </div>
        <br>
        <div>
            <h4>Please provide email to receive the results</h4>
            <input type="email" class="form-control" id="email"
                   placeholder="Enter email">
        </div>
        <br>
        <button class="btn btn-lg btn-info" onclick="calculateHash()">HASH!</button>
        <br>
        <div class="row my-5" id="resultDiv" hidden>
            <div class="col-3">
                <div class="form-control" style="border-color: white; font-size: x-large;">Result Hash</div>
            </div>
            <div class="col">
                <input size="20" type="text" id="result" class="form-control" readonly>
            </div>
        </div>
    </main>
</div>

<div id="section3" class="container">
    <main>
        <div style="font-size: x-large;">Last Hashes</div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Message</th>
                <th scope="col">Hash Functions</th>
                <th scope="col">Result</th>
                <th scope="col">Full info</th>
            </tr>
            </thead>
            <tbody>
            <tr hidden>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>FILE</td>
            </tr>
            </tbody>
        </table>
    </main>
</div>

<button onclick="topFunction()" class="btn btn-lg btn-info" id="goTopBtn" title="Go to top">Top</button>


<script src="/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/jquery-slim.min.js"><\/script>')</script>
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/custom/main.js"></script>
</body>

</html>
